
        <h1>
            codeial / <%= title %> 
        </h1>







<!-- this will now not required only the variable code will be here -->
<!-- <html>
    <head>
        <%= title %>
    </head>
    <body>
        <%- include('_header'); -%>

        <h1>codeial / <%= title %> </h1>

        <%- include('_footer'); -%>
    </body>
</html> -->